.card-container {
    cursor: pointer;
    box-shadow: 3px 2px 6px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container.shadow:hover {
    box-shadow: 3px 2px 6px gray;
}

img {
    width: 200px;
    height: auto;
    margin: 0;
    object-fit: cover;
}

h3, p {
    margin: .5rem;
}