.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: auto;
  width: 100%;
  grid-gap: 2rem;
  margin: .5rem 0 0.5rem 0;
}

.container-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-scrollup {
  position: fixed;
  font-size: 180%;
  right: 2rem;
  bottom: 3rem;
  background: white;
  border: none;
  cursor: pointer;
}

.button-scrollup:hover {
  font-size: 230%;
  transition: .2s;
}