.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: auto;
  width: 100%;
  grid-gap: 2rem;
}

.container-links {
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}

.container-links > button:first-of-type {
  margin-right: 1rem;
}

.container-links > button:last-of-type {
  margin-left: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  
}
