.App {
  padding: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: auto;
  width: 100%;
  grid-gap: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  
}
