.container-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
  flex-direction: row;
}

button {
  background-color: white;
  border: 1px solid gray;
  padding: .2rem .3rem;
  width: 6rem;
}

.container-navigation > div {
  display: flex;
}

select {
  border: none;
  border-bottom: 1px solid gray;
}

select, input[type=text] {
  margin: 0 .5rem 0 .5rem;
}

@media screen and (max-width: 980px) {
  .container-navigation {
    flex-direction: column;
  }
  
  .container-navigation > div {
    margin: .5rem 0 .5rem;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 525px) {
  .container-search > form {
    display: flex;
    flex-direction: column;
  }
}
